{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Reguli Cercetador</title>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
            margin-top: 20px;
        }

    </style>

</head>
<body>
<main role="main" class="container">


<div class="jumbotron">
    <h1 class="display-4">Cercetador</h1>
    <p class="lead">Bine v-am găsit, cuceritori de orașe!</p>
    <hr class="my-4">
<p>În zilele ce urmează (20 - 21 februarie) vă provocăm să porniți în explorare pentru a găsi și cuceri teritorii
    nedescoperite din Cetatea Albă al lui Iuliu. Așa cum mișcarea cercetășească a cucerit întreaga lume, cercetaș cu
    cercetaș, oraș cu oraș și țară cu țară, așa vă provocăm și noi pe voi să cuceriți Alba Iulia.</p>

    <p>Oricând ieșim din casă vom purta eșarfa și vom respecta toate regulile de activitate cercetășească de  <a href = "https://consiliuldirector.scout.ro/2020/06/18/reguli-reluare-activitate-cercetaseasca-in-timpul-pandemiei-covid-19/" target="_blank">aici</a>. <strong>Distanță fizică, măști, fără grupuri mai mari de 6 persoane!</strong> </p>
</div>


<p>Un cercetaș nu este niciodată luat prin surprindere și se descurcă în orice situație neprevăzută. Astfel, vă invităm
    să cuceriți orașul pentru un weekend pentru patrula / echipa voastră!</p>
<p>Orașul este împărțit în zone diferite și conțin, fiecare, obiective strategice și provocări aferente lor (vezi
    harta). Obiectivul jocului este ca echipele de temerari, eXploratori și seniori, să cucerească cât mai multe zone
    pentru cât mai mult timp.</p>
<p>Pentru a cuceri o zonă, o echipă trebuie să meargă în apropierea obiectivului care controlează zona și să facă
    provocarea pentru acea zonă. Dacă reușesc, zona devine a lor - și cât timp rămâne în posesia lor, adună puncte
    pentru ei. Cu cât o echipă deține o zonă pentru mai mult timp, cu atât îi aduce mai multe puncte.</p>
<ul>
    <li>O echipă poate cuceri oricâte zone</li>
    <li>Zonele pot fi controlate concomitent de echipe din ramuri de vârstă diferite</li>
    <li>Puteți să vă împărțiți în echipă responsabilitățile oricum doriți, dar e de preferat să fiți cel puțin 2 când
        abordați o provocare. Nu puteți fi niciodată mai mult de 6!
    </li>
</ul>
<p>Există niște zone speciale, bonus care devin active doar din când în când și pe perioade limitate. Pentru a câștiga
    controlul acestor zone, trebuie să aveți cu voi un telefon cu NFC și să pândiți pe grupul de pe whatsapp indiciile
    care vă duc la obiectivul care trebuie cucerit! Pentru aceste zone, obiectivul poate să NU fie în zonă!</p>
<p>Câtă vreme zonele bonus sunt active, ele pot fi cucerite de orice altă echipă (și pot fi deținute și ele concomitent
    de câte o patrulă din fiecare ramură de vârstă diferită).</p>
<p>Adițional, în Cetate, unde situația-i foarte aglomerată, avem o singură Zonă care are o multitudine de obiective (9).
    Aici zona va fi în controlul acelei echipe care are cele mai multe obiective cucerite din zonă în momentul
    respectiv, pe ramuri de vârstă.</p>
<p>Zonele sunt active atât sâmbătă, cât și duminică, între 10 dimineața și 8 seara. Sâmbătă la 8 seara, toate zonele se
    închid și nu mai contribuie la punctajele echipelor până la 10 dimineața duminică, când continuă de unde au rămas.
    Duminică la 8 seara tragem linie!</p>
<p>În timp ce toate zonele aduc mai multe puncte corespunzător cu timpul pentru care le deține o echipă, zonele centrale
    colectează puncte accelerat pe măsură ce trece timpul, în timp ce zonele din cartiere au un efect invers - dacă le
    dețineți mult timp, de la un punct încolo nu vor mai aduce așa multe puncte.</p>
<p>Situația pe teren este raportată live pe:
<ul>
    <li><a href = "{% url 'score-map-teme' %}">https://cercetador.albascout.ro/temerari/</a> pentru temerari</li>
    <li><a href = "{% url 'score-map-explo' %}">https://cercetador.albascout.ro/explo/</a> pentru eXploratori</li>
    <li><a href = "{% url 'score-map-seniori' %}">https://cercetador.albascout.ro/seniori/</a> pentru seniori</li>
</ul>
</p>
<p>Fiecare echipă primește o culoare a ei și poate să-și aleagă un nume pentru tabela de scor. De asemenea, fiecare
    echipă primește un cod unic sâmbătă dimineața, pe care îl vor folosi peste tot în timpul jocului (deci trebuie să-l
    cunoască toată echipa).</p>
<p>Pentru a cuceri un obiectiv, trebuie să (1) demonstrați că sunteți în apropierea lui (~50m) și să îndepliniți
    provocarea.</p>
<p>Cel mai simplu mod de a face asta este accesând <a href="{% url 'tower-challenge' %}">https://cercetador.albascout.ro/tower/challenge/</a>.
    Dacă sunt probleme, fiecare ramură de vârstă are un grup de Whatsapp în care pot cere ajutor de la lideri pentru a
    face următoarea provocare.Fie prin site, fie prin Whatsapp, liderii confirmă dacă ați făcut sau nu provocarea și vă
    încredințează controlul obiectivului la care sunteți :)</p>


</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js".
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    let pendingInterval = setInterval(function (e) {
        window.location.href = window.location.href
    }, 10000);

</script>
</body>
</html>










