{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Reguli Cercetador</title>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
            margin-top: 20px;
        }

    </style>

</head>
<body>
<main role="main" class="container">


<div class="jumbotron">
    <h1 class="display-4">Insomnia 2023</h1>
    <hr class="my-4">
<p style="text-align: justify;">Anul Domnului 2k23. Clujul nu mai e oraș de ITiști, toți au fost alungați de către vechii conducători ai cetății care au revenit la putere, partidul AA - Autoritarii Andrăzneți. UBBul și UTul au fost transformate &icirc;n adevărate universități profesionale, unde se pregătesc pentru viață și muncă nobilă mecanici, instalatori, t&acirc;mplari, lăcătuși, zugravi, ipsosari, tinichigii, șoferi de TIR, bucătari și patiseri, frizeri și manichiuriști.</p>
<p style="text-align: justify;">Conducătorii cetății vor să stabilească care anume va fi noua cea mai bine plătită meserie a orașului și au convocat mare adunare, &icirc;n marea Piață a Unirii, vineri, 7 a lui prier (adică aprilie dacă ești ITist), &icirc;ncep&acirc;nd cu orele 19:00. Voi trebuie să vă prezentați la adunare ca să vă reprezentați breasla. &Icirc;ntrecerea va avea loc pe parcursul serii, unde veți trece prin &icirc;ncercări grele ca să meritați leafa cea mare. Alegeți-vă meseria bine, și reprezentați-o cu pasiune - nume, strigăt și un obiect simbol al acesteia. Cu c&acirc;t numele este mai bun, strigătul strigat mai tare, iar obiectul mai personalizat, cu at&acirc;t remunerația voastră va crește.</p>
</div>


    <h2>MIC VOCABULAR</h2>
<p style="text-align: justify;">&Icirc;ncercări <strong>BONUS&nbsp;</strong>= &icirc;ncercări primite de la partidul AA, mai valoroase, care vă cresc leafa.</p>
<p style="text-align: justify;">&Icirc;ncercări <strong>BLOCANTE&nbsp;</strong>= &icirc;ncercări primite prin curier rapid (Whatsapp) de la partid. Aveți 10 minute să le realizați, nu se punctează altele &icirc;ndeplinite &icirc;n acest timp, p&acirc;nă nu trimiteți dovada realizării &icirc;ncercării BLOCANTE. Pentru fiecare minut de &icirc;nt&acirc;rziere, vi se taie din leafă.</p>
<p style="text-align: justify;"><strong>DUEL&nbsp;</strong>= &icirc;ntrecere &icirc;ntre bresle, de realizat c&acirc;nd vă &icirc;nt&acirc;lniți cu o altă breaslă prin cetate. Găsiți o persoană străină &icirc;n calitate de arbitru. Prezentați-vă obiectul simbol breslei oponente și arbitrului.&nbsp;</p>
<p style="text-align: justify;">La startul lui, aveți 1 minut la dispoziție să creați o statuie umană care să reprezinte obiectul patrulei oponente - poate fi 2D/3D. Trimiteți o poza cu arbitrul țin&acirc;nd &icirc;n m&acirc;nă obiectul breslei c&acirc;știgătoare (care a reușit cel mai corect să reprezinte obiectul) pentru a primi leafa.</p>
<p style="text-align: justify;"><strong>CHEIA FRANCEZĂ</strong> = obiect universal necesar, care se plimbă printre bresle. C&acirc;nd &icirc;nt&acirc;lniți prin cetate o breaslă oponentă, le puteți da cheia franceză, care nu poate fi refuzată. Cui se va prezenta cu cheia franceză la Adunarea finală, i se va tăia din leafă.</p>
<p style="text-align: justify;">Cucerire și posesie <strong>TURNURILE CETĂȚII</strong> = Pe teritoriul cetății există c&acirc;te un turn pentru fiecare dintre breslele clujene, turnuri ce veghează anumite regiuni. Odată cucerite, turnurile și regiunile vă aduc leafă direct &icirc;n cont, cu c&acirc;t reușiți să păstrați posesia lor, cu at&acirc;t crește leafa de la contribuabili.&nbsp;</p>
<p style="text-align: justify;">&nbsp; &nbsp; Ca să cuceriți un turn și o regiune, tot ce trebuie să faceți este să ajungeți &icirc;n locul indicat pe hartă la care se află turul (harta - <a href = "{% url 'score-map-seniori' %}">https://insomnia.albascout.ro/seniori/</a>). Odată ajunși &icirc;n dreptul turnului, veți primi o &icirc;ncercare - dovada &icirc;ndeplinirii ei trebuie trimisă prin curier rapid (whatsapp) - care dacă este &icirc;ndeplinită corect vă asigură cucerirea turnului, și implicit o remunerație de 5 puncte. Pentru fiecare 10 minute de posesie a turnului, mai primiți 2 puncte. Dacă treceți prin regiunea cucerită deja de altă breaslă, puteți și voi atenta la recucerirea ei, &icirc;ndeplinind &icirc;ncercarea. </p>

<p style="text-align: justify;"><span style="color: rgb(226, 80, 65);"> &nbsp;</span><strong><span style="color: rgb(226, 80, 65);">&nbsp; Atenție!</span></strong></p>
<ul>
    <li>
        <p style="text-align: justify;">Puteți recuceri o regiune odată furată, de c&acirc;te ori doriți, dar punctajul primit pentru recucerire va fi tot mai mic cu fiecare re&icirc;ncercare.</p>
    </li>
    <li>
        <p style="text-align: justify;">&Icirc;ncercările pentru cucerirea regiunilor și turnurilor se pot modifica, nu vor fi mereu aceleași.</p>
    </li>
    <li>
        <p style="text-align: justify;">Dacă turnul este recucerit de altă breaslă la mai puțin de 10 minute după ce ați reușit voi să o faceți, nu veți mai beneficia de leafa pasivă aferentă. Așadar aceasta intră &icirc;n vigoare doar după 10 minute de posesie.</p>
    </li>
</ul>
<p style="text-align: justify;">Important! Fiecare &icirc;ncercare trebuie să fie documentată - foto, video, text, răspuns scris - și trimisă către conducătorii de joc - cu informațiile aferente (numele breslei). &Icirc;n caz contrar, leafa va fi reținută.</p>
<p style="text-align: justify;"><br></p>
<p style="text-align: justify;"><br></p>
<p style="text-align: justify;"><strong>Cum poate c&acirc;știga breasla voastră puncte?</strong></p>
<ol>
    <li>
        <p style="text-align: justify;">&Icirc;ndeplinind &icirc;ncercările primite - fiecare are &icirc;ntre <strong>1 și 5 puncte</strong>, &icirc;n funcție de dificultate - puteți să le realizați &icirc;n orice ordine doriți.</p>
    </li>
    <li>
        <p style="text-align: justify;">&Icirc;ndeplinind &icirc;ncercările bonus de la partidul AA -<strong>&nbsp;1-10 puncte</strong>.</p>
    </li>
    <li>
        <p style="text-align: justify;">Av&acirc;nd cel mai fain nume sau cel mai tare strigăt sau cel mai personalizat obiect simbol al breslei - <strong>5 puncte</strong>, decis prin vot democratic la &icirc;ntrunire.</p>
    </li>
    <li>
        <p style="text-align: justify;">C&acirc;știg&acirc;nd dueluri cu breslele oponente - <strong>5 puncte</strong> (vezi detalii mai sus).</p>
    </li>
    <li>
        <p style="text-align: justify;">Cucerind (<strong>5 puncte</strong>) și păstr&acirc;nd (<strong>2 puncte</strong> la fiecare 10 minute) posesia turnurilor din cetate (vezi mai sus).</p>
    </li>
    <li>
        <p style="text-align: justify;">Dacă o echipă intră &icirc;n posesia a minim 8 turnuri și le ține in posesie deodata pentru minim 20 de minute primește <strong>30 de puncte </strong></p>
    </li>
</ol>
<p style="text-align: justify;"><strong>Cum poate pierde breasla voastră puncte?</strong></p>
<ol>
    <li>
        <p style="text-align: justify;">Venind fără nume/strigăt/obiect simbol la Adunare - <strong>5 puncte penalizare</strong>.</p>
    </li>
    <li>
        <p style="text-align: justify;">Trimiț&acirc;nd cu &icirc;nt&acirc;rziere dovezile de la &icirc;ncercările blocante primite de la partidul AA - <strong>1 punct penalizare</strong> pentru fiecare minut peste cele 10 oficiale (vezi mai sus).</p>
    </li>
    <li>
        <p style="text-align: justify;">&Icirc;nt&acirc;rziat la Adunarea finală &icirc;n Insomnia Cafe - <strong>1 punct penalizare</strong> pentru fiecare minut peste ora 11:45.</p>
    </li>
    <li>
        <p style="text-align: justify;">Prezent&acirc;ndu-vă la Adunarea finală din Insomnia Cafe cu cheia franceză - <strong>5 puncte penalizare</strong> (vezi mai sus).</p>
    </li>
</ol>

</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js".
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>










