{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Reguli Cercetador</title>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
            margin-top: 20px;
        }

    </style>

</head>
<body>
<main role="main" class="container">


<div class="jumbotron">
    <h1 class="display-4">CUB Adventures in the Scout Multiverse</h1>
    <p class="lead">Bine v-am găsit, echipe TVA!</p>
    <hr class="my-4">
<p>În data de 19 februarie vă provocăm să porniți în explorare pentru a găsi și cuceri teritorii, resetând timeline-ul din jurul fiecărui portal și restabilind ordinea firească a lucrurilor.</p>

    <p>Oricând ieșim din casă vom purta eșarfa și vom respecta toate regulile de activitate cercetășească de <a href = "https://consiliuldirector.scout.ro/2020/06/18/reguli-reluare-activitate-cercetaseasca-in-timpul-pandemiei-covid-19/" target="_blank">aici</a>. <strong>Distanță fizică, măști, fără grupuri mai mari de 6 persoane!</strong> </p>
</div>


<p>Un cercetaș nu este niciodată luat prin surprindere și se descurcă în orice situație neprevăzută. Astfel, vă invităm să stabilizați timeline-ul din jurul fiecărui portal îndeplinind diverse provocări împreună cu echipa voastră!</p>
<p>Orașul este împărțit în zone diferite și conțin, fiecare, un portal (TimeDoor) și provocări aferente lor (vezi harta). Obiectivul jocului este ca echipele să cucerească cât mai multe zone, resetând timeline-ul pentru cât mai mult timp.</p>

<p>Pentru a cuceri o zonă și a reseta timeline-ul aferent portalului respectiv, o echipă trebuie să meargă în apropierea portalului și să facă provocarea pentru acea zonă. Dacă reușesc, zona devine a lor - și cât timp rămâne în posesia lor, adună puncte pentru ei. Cu cât o echipă deține o zonă pentru mai mult timp, cu atât îi aduce mai multe puncte.</p>
<ul>
    <li>O zonă care este cucerită deja de o echipă poate fi cucerită de o altă echipă dacă aceasta ajunge lângă Timedoor și face provocarea aferentă, resetând astfel timeline-ul în dimensiunea lor.</li>
    <li>O echipă poate cuceri oricâte zone</li>
    <li>Zonele pot fi controlate concomitent de echipe din ramuri de vârstă diferite</li>
    <li>Pentru a finaliza o provocare e necesar să răspundeți la întrebare, să faceți o poză cu toată echipa lângă portalul respectiv (în care să apară ”răspunsul” la întrebare) și să o încărcați pe site.
    </li>
</ul>
<p>Zonele sunt active sâmbătă, între 10 dimineața și 4 seara. La ora 4 seara toate zonele se închid, ne vedem cu toții într-o locație secretă momentan și tragem linie să vedem ce echipă are cel mai mare punctaj. Echipele cu cele mai multe puncte la finalul zilei vor fi recompensate.
</p>
<p>În timp ce toate zonele aduc mai multe puncte corespunzător cu timpul pentru care le deține o echipă, zonele centrale colectează puncte accelerat pe măsură ce trece timpul, în timp ce zonele din margini au un efect invers - dacă le dețin mult timp, de la un punct încolo nu vor mai aduce așa multe puncte.</p>

    <p>Situația pe teren este raportată live <a href = "{% url 'score-map-seniori' %}">aici</a>
</p>

    <p>Pentru a cuceri un portal, trebuie să demonstrați că sunteți în apropierea lui (~50m) și să îndepliniți provocarea.</p>

<p>Fiecare echipă primește o culoare a ei și poate să-și aleagă un nume pentru tabela de scor. De asemenea, fiecare echipă primește un cod unic sâmbătă dimineața, pe care îl vor folosi peste tot în timpul jocului (deci trebuie să-l cunoască toată echipa).</p>


<p>Pentru a cuceri un portal, trebuie să demonstrați că sunteți în apropierea lui (~50m) și să îndepliniți provocarea.</p>

<p>Cel mai simplu mod de a face asta este accesând <a href="{% url 'tower-challenge' %}">acest link</a>.
    Dacă sunt probleme puteți cere ajutor pe grupul de Whatsapp. Fie prin site, fie prin Whatsapp, organizatorii vă confirmă dacă ați făcut sau nu provocarea și vă încredințează controlul portalului la care sunteți :)</p>


</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js".
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    let pendingInterval = setInterval(function (e) {
        window.location.href = window.location.href
    }, 10000);

</script>
</body>
</html>










