{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{ object.name }}</title>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
            margin-top: 20px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }
    </style>

</head>
<body>
    <main role="main" class="container">


    <h1>Turn: {{ object.name }}</h1>

    {% if not team %}
        <form action="" method="get">
            <input type="hidden" name="lat" value="{{ lat }}">
            <input type="hidden" name="lng" value="{{ lng }}">
        <div class="mb-3">
            <label for="team_code" class="form-label">Codul echipei tale</label>
            <input type="text" name="team_code" class="form-control form-control-lg" id="team_code" aria-describedby="nameHelp" required>
            <div id="team_code" class="form-text">Codul echipei tale pe care l-ai primit la începutul jocului</div>
        </div>
                    <div class="mb-3">
                        <button id="submitCode" class="btn btn-primary" type="submit">Cucerește turnul!</button>
                    </div>


        </form>
    {% else %}
        <div class="alert alert-success" role="alert">
            Confirmat identitate <strong>{{ team }}</strong>!
        </div>
        {% if tower_owner and team and tower_owner.name == team.name %}
            <p class="lead">Turnul este deținut de <strong style="color: {{ tower_owner.color }}">echipa ta!</strong>
            </p>
        {% else %}
            {% if tower_owner %}
                <p class="lead">Turnul este controlat de <strong
                        style="color: {{ tower_owner.color }}">{{ tower_owner.name }}</strong>
                </p>
            {% else %}
                <p class="lead">Turnul momentan nu este controlat de nimeni! Cucerește-l pentru echipa ta!</p>
            {% endif %}

            {% if team_has_pending or team_in_cooloff %}
                {% if team_has_pending %}
                    <div class="alert alert-warning" id="waiting">
                        Turnul are deja o provocare în așteptare de a fi validată de lideri! Durează numai puțin! Dacă
                        au trecut mai mult de 3 minute, fă un refresh la pagina asta și scrie-le liderilor pe Whatsapp!
                    </div>
                {% endif %}
                {% if team_in_cooloff %}
                    <div class="alert alert-danger" id="waiting">
                        Răspunsul vostru la ultima provocare a fost greșit! Mai puteți încerca o dată, <strong>la 5
                        minute</strong> de la ultima încercare!
                    </div>
                {% endif %}
            {% else %}


                <div class="container">
                    <h2>Provocarea voastră pentru a cuceri turnul este:</h2>
                    <p class="lead">{{ challenge.text }}</p>
                </div>

                <div class="alert alert-warning">
                    Încarcă mai jos răspunsul tău sau o poză cu dovada că ai făcut provocarea! :) Dacă ai întrebări sau
                    necazuri, folosește grupul de Whatsapp!
                </div>
                <form id="teamTowerChallengeForm">
                    <div class="mb-3">
                        <label for="response_text">Răspunsul tău la provocare. Fie răspunsul, fie poza trebuie să
                            existe! Dacă nu ai nevoie de un răspuns text, pune un "-"</label>
                        <textarea class="form-control" id="response_text" rows="3" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="photo" class="form-label">Poză (opțional)</label>
                        <input type="file" class="form-control" id="photo" aria-describedby="photoHelp">
                        <input type="hidden" id="file_base64">
                        <div id="photoHelp" class="form-text">O poză prin care demonstrezi că ai făcut provocarea. Nu e
                            obligatorie dacă provocarea nu o cere
                        </div>
                    </div>

                    <div class="mb-3">
                        <button id="submitChallenge" class="btn btn-primary" type="submit">Cucerește turnul!</button>
                    </div>


                    <input type="hidden" id="lat" name="lat" value="{{ lat }}">
                    <input type="hidden" id="lng" name="lng" value="{{ lng }}">
                    <input type="hidden" id="challenge" name="challenge" value="{{ challenge.id }}">
                    <input type="hidden" id="tower" name="tower" value="{{ tower.id }}">
                    <input type="hidden" id="team" name="team" value="{{ team.id }}"><br>


                    <div class="alert alert-info">Durează câteva secunde până când liderul poate verifica provocarea ta
                        :D
                    </div>
                </form>

            {% endif %}
        {% endif %}


    {% endif %}
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">
        <a href = "{% url 'tower-challenge' %}">Cucerește alt turn!</a> |
        {% if team %}
            {% if team.category == 1 %}
                <a href="{% url 'score-map-explo' %}">Harta cu scoruri!</a>
            {% endif %}

            {% if team.category == 2 %}
                <a href="{% url 'score-map-teme' %}">Harta cu scoruri!</a>
            {% endif %}

            {% if team.category == 3 %}
                <a href="{% url 'score-map-seniori' %}">Harta cu scoruri!</a>
            {% endif %}
        {% endif %}
        </span>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/challenge_form.js' %}"></script>
</body>
</html>










